.bullet-points {
    font: "San Francisco", Helvetica, Arial, sans-serif;
    color: red;
    text-align: center;
}

.tradition { 
    font: "San Francisco", Helvetica, Arial, sans-serif;
    color: black;
    background-color: lightsalmon;
}

#title {
    font: "San Francisco", Helvetica, Arial, sans-serif;
    text-align: center;
    
}

